*{
	margin:0;
	padding:0;
}
body{
	margin:0 auto;
	width: 940px;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #f5f5f5;
	color:#999;
}
header, nav, section, article, footer{
	display:block;
}
header h1{
	font-size: 35px;
	line-height: 40px;
	padding: 20px 0;
	/*top right bottom left*/ 
}

article {
	clear:both;
	margin-top:50px;
	text-align: justify;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float:left;
}

nav ul li a {
	display:block;
	height: 30px; /* altura */
	padding: 0 30px; /* espaçamento */
	float:left; /* flutuar a esquerda */
	font-size: 14px;
	line-height: 30px; /* altura da linha */
	text-align: center; /* alinhamento do texto */
	text-decoration: none; /* retirar sublinhado dos links */
	color:#000;
	font-weight: bold ; /* negrito */
}

nav ul li a:hover { /* passar o mouse em cima do li a */
	color:#34ABE0;
}

nav ul li a.selecionado{
	color:#fff;
	background-color: #34ABE0;
	padding-left: 0 58px; /* margin esquerda */
	height: 30px; /* altura da tag */
	line-height: 30px; /* altura da linha */
	margin-top:2px;	/* uma pequena margin do Título */
}

section#intro{
	height: 235px;
	width: 940px;
	background: url('outubrorosa.png') right top no-repeat #DDEEEE;
	margin-top: 60px;
	padding-left: 10px;
}
section#intro p{
	padding-top: 35px;
	font-style: italic;
	font-size: 14px;
	width: 800px;
	color:#34A8E0;
}

article header h1{
	font-size: 22px;
	text-align: left;
	line-height: 40px;
	margin-top: 20px
	padding: 0;
}
article p{
	margin-bottom: 10px;
	padding-right: 10px;
	width: 620px;
}

article header p{
	font-size: 15px;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 0px;
}
article{
	width: 620px;
	float:left;
}

aside{
	width: 280px;
	float: right;
	padding-left: 40px;
	margin-top: 80px;
}

aside section{
	margin-top: 35px; 
}

aside section h1{
	margin-bottom: 15px;
	font-size: 16px;
}
aside section ul li{
	list-style-type: none;
}

aside section ul li a{
	text-decoration: none;
	color:#2CE818;
}
aside section ul li a:hover{
	text-decoration: underline;
	background-color:#E90404;
}