*{
	margin:0;
	padding:0;
}
body{
	margin:0 auto;
	width: 940px;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #f5f5f5;
	color:#999;
}
header, nav, section, article, footer{
	display:block;
}
header h1{
	font-size: 35px;
	line-height: 40px;
	padding: 20px 0;
	/*top right bottom left*/ 
}

article {
	clear:both;
	margin-top:50px;
	text-align: justify;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float:left;
}

nav ul li a {
	display:block;
	height: 30px; /* altura */
	padding: 0 30px; /* espaçamento */
	float:left; /* flutuar a esquerda */
	font-size: 14px;
	line-height: 30px; /* altura da linha */
	text-align: center; /* alinhamento do texto */
	text-decoration: none; /* retirar sublinhado dos links */
	color:#000;
	font-weight: bold ; /* negrito */
}

nav ul li a:hover { /* passar o mouse em cima do li a */
	color:#34ABE0;
}

nav ul li a.selecionado{
	color:#fff;
	background-color: #34ABE0;
	padding-left: 0 58px; /* margin esquerda */
	height: 30px; /* altura da tag */
	line-height: 30px; /* altura da linha */
	margin-top:2px;	/* uma pequena margin do Título */
}

section#intro{
	height: 235px;
	width: 940px;
	background: url('outubrorosa.png') right top no-repeat #DDEEEE;
	margin-top: 60px;
	padding-left: 10px;
}